<div class="form-section" style="color:#ffffff">
  <div class="xs-mtb-50">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <div class="form-bg">
          <div class="withdrawal-success">
            <h2> <i class="fa fa-check-circle text-success"></i> &nbsp;Withdraw successful</h2>
            
            <h3>Your Withdrawal Request is Verified Successfully.</h3>
            <p> <i class="fa fa-hand-o-right"></i> &nbsp; Success ! Transaction on its way!</p>
            <p> <i class="fa fa-hand-o-right"></i> &nbsp; Withdrawal of currency Successfully approved.</p>
            <p> <i class="fa fa-hand-o-right"></i> &nbsp; Your withdrawal is scheduled to be Transacted out soon. as soon it has been transacted you will see your
              Transaction ID in your withdrawals view. We will keep tracking the transaction until nine confirmations.</p>
            <p> <i class="fa fa-hand-o-right"></i>  &nbsp; Withdrawal are processed in bulk every 15 minute. Your Transaction ID will be available
              once the status changed to sent.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
