<div class="cr__chart xs-mr-5 animated fadeIn">
  <ul class="animated fadeIn" style="animation-delay: 2s; z-index: 111;">

    <li style="z-index:9;" class=""></li>
    <li style="z-index:8;" class=""></li>
    <li style="z-index:7;" class=""></li>
    <li style="z-index:6;" class=""></li>
    <li style="z-index:5;" class="kr-dash-pan-com-t-buy"></li>
    <li style="z-index:4;" class="kr-dash-pan-com-t-buy"></li>
    <li style="z-index:3;" class="kr-dash-pan-com-t-buy"></li>
    <li style="z-index:2;" class="kr-dash-pan-com-t-buy"></li>

  </ul>
  <app-loader [IsLoading]="loading"></app-loader>
  <div class="clschart" id="container" #chart></div>
</div>
