<div class="row">
    <div class="col-md-3">
        <div class="buy-label">Trade Analysis
            <div class="cr__line">
                <div></div>
            </div>
        </div>
    </div>
    <div class="col-md-9 text-right">
        <div class="data-filter">
            <div class="data-filter-widget">
                <select class="input-sm form-control animated fadeInUp" style="animation-delay:0.1s;" [(ngModel)]="tradeHistorySearch.MainCurrency">
                <option value="0" [disabled]="true">-Coin-</option>
                <option *ngFor="let data of mainCurrencyList" value={{data.Id}}>
                  {{data.Symbol}}
                </option>
              </select>
            </div>
            <div class="data-filter-widget">
                <select class="input-sm form-control animated fadeInUp" style="animation-delay:0.2s;" [(ngModel)]="tradeHistorySearch.BaseCurrency">
                <option value="0" [disabled]="true">-Market-</option>
                <option *ngFor="let data of baseCurrencyList" value='{{data.Id}}'>
                  {{data.Symbol}}
                </option>
              </select>
            </div>
            <div class="data-filter-widget">
                <button id="BTNANALYZE" class="btn btn-sm btn-link animated fadeInUp" style="animation-delay:0.3s;" (click)="FnAnalyzeUserTradeHistory($event)">Analyze</button>
                <button class="btn btn-sm btn-link animated fadeInUp" style="animation-delay:0.4s;" (click)="FnReset()"><img src="../../../assets/images/ic_svg/refresh.svg"></button>
                <button id="BTNSEARCH" class="btn btn-sm btn-link animated fadeInUp" style="animation-delay:0.5s;" (click)="FnAnalyzeUserTradeHistory($event)"><img src="../../../assets/images/ic_svg/search.svg"></button>
            </div>
        </div>
    </div>
</div>


<div class="row ">
    <div class="col-md-12">
        <div class="data-summary xs-mt-10 xs-pb-10">
            <div class="row" [hidden]="hiddenSummaryDiv">
                <div class="col-md-6 text-center">
                    <div class="row">
                        <div class="col-md-6 animated fadeInUp" style="animation-delay: 0.1s;">
                            <div class="data-s">Average Buy Price</div>
                            <span class="text-success">{{ avgBuyPrice | appDynamicDigit: 8 }}</span>
                        </div>
                        <div class="col-md-6 animated fadeInUp" style="animation-delay: 0.2s;">
                            <div class="data-s">Total Buy</div>
                            <span class="text-success">{{ totalBuyPrice | appDynamicDigit: 8 }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="row">
                        <div class="col-md-6 animated fadeInUp" style="animation-delay: 0.3s;">
                            <div class="data-s">Average Sell Price</div>
                            <span class="text-danger">{{ avgSellPrice | appDynamicDigit: 8 }}</span>
                        </div>
                        <div class="col-md-6 animated fadeInUp" style="animation-delay: 0.4s;">
                            <div class="data-s">Total Sell</div>
                            <span class="text-danger">{{ totalSellPrice | appDynamicDigit: 8 }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" [hidden]="!hiddenSummaryDiv">
                <div class="col-md-12 text-center">
                    <p class="not-f animated fadeInUp">To analyze your trades, select a Coin name, select a Market, and click Analyze.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row xs-mt-10">
    <div class="col-md-3">
        <div class="buy-label">Trade History
            <div class="cr__line">
                <div></div>
            </div>
        </div>
    </div>
    <div class="col-md-9 text-right">
        <div class="data-filter">
            <div class="data-filter-widget animated fadeInUp" style="animation-delay: 0.6s;">
                <input id="IDFromDate" type="text" class="input-sm form-control" [(ngModel)]="tradeHistorySearch.FromDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" bsDatepicker placeholder="FromDate" (bsValueChange)="onFilterChanged($event)" readonly name="FromDate"
                    [maxDate]="tradeHistorySearch.ToDate" />
            </div>
            <div class="data-filter-widget animated fadeInUp" style="animation-delay: 0.7s;">
                <input type="text" class="input-sm form-control" [(ngModel)]="tradeHistorySearch.ToDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" bsDatepicker placeholder="ToDate" readonly (bsValueChange)="onFilterChanged($event)" name="ToDate" [minDate]="tradeHistorySearch.FromDate"
                />
            </div>
            <div class="data-filter-widget animated fadeInUp" style="animation-delay: 0.8s;">
                <select class="input-sm form-control" [(ngModel)]="tradeHistorySearch.BuySellType" (change)="onFilterChanged($event)">
                <option value='0'>BUY & SELL</option>
                <option value="BUY">BUY</option>
                <option value="SELL">SELL</option>
              </select>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="market-content">
            <app-loader [IsLoading]="loading"></app-loader>
            <div class="table-responsive cr__table ps no-effect" [perfectScrollbar]="config" style="position: relative;height: 70vh">

                <table class="table data-table">
                    <thead>
                        <tr class="table-head">
                            <th>Market</th>
                            <th>Type</th>
                            <th>Price</th>
                            <th>Amount</th>
                            <th>Fee</th>
                            <th>Total</th>
                            <th class="text-right">Transaction Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="animated fadeInUp" *ngFor="let item of tradeHisList | tradeDatePipe : tradeHistorySearch.FromDate : tradeHistorySearch.ToDate :  tradeHistorySearch.BuySellType">
                            <td> {{ item.Market }} </td>
                            <td>
                                <span [ngClass]="{'text-success': item.Type == 'BUY', 'text-danger': item.Type == 'SELL'}">{{ item.Type }}</span>
                            </td>
                            <td> {{ item.Price | appDynamicDigit: 8 }} </td>
                            <td> {{ item.Amount | appDynamicDigit: 8 }} </td>
                            <td> {{ item.Fee }} </td>
                            <td> {{ item.Total | appDynamicDigit: 8 }} </td>
                            <td class="text-right"> {{ item.TransactionDate | appDateFormat }}</td>
                        </tr>
                        <tr *ngIf="tradeHisList?.length == 0" class="text-center">
                            <td> </td>
                            <td colspan="6"> You have not made any trades yet. Once you make some trades, they will appear here</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
