<section class="login-container">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="login-box">
          <div class="row">
            <div class="col-md-5">
              <form novalidate [formGroup]="resetPasswordForm" (ngSubmit)="ResetPwd(resetPasswordForm.value,resetPasswordForm.valid)">
                <div class="login-blog">
                  <div class="logo logo-id text-left  xs-mtb-10">
                    <img src="../../../assets/images/login-logo.png" alt="demo logo"  />
                  </div>
                  <p style="text-align: center;">Reset Password</p>
                  <div class="form-group " [ngClass]="{'has-error': (isResetPasswordSubmitted && resetPasswordForm.get('Email').hasError('required')) ||
                  (!resetPasswordForm.get('Email').valid && resetPasswordForm.get('Email').hasError('pattern'))}">
                    <label for="email">Email address:</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                      <input type="text" class="form-control" formControlName="Email" placeholder="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                    </div>
                    <span class="error-msg" *ngIf="!resetPasswordForm.get('Email').valid && resetPasswordForm.get('Email').hasError('pattern')">
                      Enter valid email. </span>
                  </div>
                  <div class="form-group" [ngClass]="{'has-error': (isResetPasswordSubmitted && resetPasswordForm.get('Password').hasError('required')) ||
                   (isResetPasswordSubmitted && !resetPasswordForm.get('Password').hasError('required') && resetPasswordForm.get('Password').hasError('strong'))}">
                    <label for="pwd">Password:</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      <input type="password" formControlName="Password" placeholder="Password" class="form-control">
                    </div>
                    <span class="error-msg" *ngIf="isResetPasswordSubmitted && !resetPasswordForm.get('Password').hasError('required') && resetPasswordForm.get('Password').hasError('strong')">
                      Password must contain 8 characters with 1 uppercase , lowercase letters and numbers.</span>
                  </div>
                  <div class="form-group" [ngClass]="{'has-error': (isResetPasswordSubmitted && resetPasswordForm.get('ConfirmPassword').hasError('required')) || 
                  (isResetPasswordSubmitted  && !resetPasswordForm.get('ConfirmPassword').hasError('required') && resetPasswordForm.get('ConfirmPassword').hasError('matchPassword'))}">
                    <label for="pwd">Confirm Password:</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      <input type="password" formControlName="ConfirmPassword" placeholder="Confirm Password" class="form-control">
                    </div>
                    <span class="error-msg" *ngIf="isResetPasswordSubmitted  && !resetPasswordForm.get('ConfirmPassword').hasError('required') && resetPasswordForm.get('ConfirmPassword').hasError('matchPassword')">Password
                      not match.</span>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 col-xs-12">
                      <button [ladda]="isLoading" type="submit" class="btn-login">Submit</button>
                    </div>
                  </div>
                  <a [routerLink]="['/account/register']" routerLinkActive="router-link-active" class="btn-register">Create
                    New Trading Account</a>
                </div>
              </form>
            </div>
            <div class="col-md-7 xs-pl-15 md-pl-0">
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                  <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="../../../assets/images/g1.jpg" alt="Los Angeles" style="width:100%;">
                    <div class="carousel-caption">
                      <h3>Mobile ready !</h3>
                    </div>
                  </div>

                  <div class="item">
                    <img src="../../../assets/images/g2.jpg" alt="Chicago" style="width:100%;">
                    <div class="carousel-caption">
                      <h3>10 technical indicators</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../../../assets/images/g3.jpg" alt="New york" style="width:100%;">
                    <div class="carousel-caption">
                      <h3>Be alerted !</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../../../assets/images/g4.jpg" alt="New york" style="width:100%;">
                    <div class="carousel-caption">
                      <h3>All news at the same place</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
