<div class="row border-b-light">
  <div class="col-md-4">
    <div class="step">
      <h3>Change Password</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-12 xs-mt-20">
    <p>If you notice any suspicious activity, we recommend changing your password.</p>
  </div>
  <form class="form-box" novalidate [formGroup]="ChangePasswordForm" (ngSubmit)="ChangePassword(ChangePasswordForm.value,ChangePasswordForm.valid)">

    <div class="col-md-12">
      <div class="form-group" [ngClass]="{'has-error': IsChangePasswordSubmitted && ChangePasswordForm.get('OldPassword').hasError('required')}">
        <label for="pwd">Enter your old password : </label>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa  fa-lock"></i>
          </span>
          <input type="password" class="form-control" formControlName="OldPassword" placeholder="Old Password" />
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group" [ngClass]="{'has-error': (IsChangePasswordSubmitted && ChangePasswordForm.get('NewPassword').hasError('required')) ||
      (IsChangePasswordSubmitted && !ChangePasswordForm.get('NewPassword').hasError('required') && ChangePasswordForm.get('NewPassword').hasError('strong'))}">
        <label for="pwd">Enter a new password : </label>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa  fa-lock"></i>
          </span>
          <input type="password" class="form-control" formControlName="NewPassword" placeholder="New Password" />
        </div>
        <span class="error-msg" *ngIf="IsChangePasswordSubmitted && !ChangePasswordForm.get('NewPassword').hasError('required') && ChangePasswordForm.get('NewPassword').hasError('strong')">
          Password must contain 8 characters <br /> 1 uppercase , lowercase letters and numbers.
        </span>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group" [ngClass]="{'has-error': (IsChangePasswordSubmitted && ChangePasswordForm.get('ConfirmPassword').hasError('required')) ||
      (IsChangePasswordSubmitted  && !ChangePasswordForm.get('ConfirmPassword').hasError('required') && ChangePasswordForm.get('ConfirmPassword').hasError('matchPassword')) }">
        <label for="pwd">Enter a confirm password : </label>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa  fa-lock"></i>
          </span>
          <input type="password" class="form-control" formControlName="ConfirmPassword" placeholder="Confirm Password">
        </div>
        <span class="error-msg" *ngIf="IsChangePasswordSubmitted && !ChangePasswordForm.get('ConfirmPassword').hasError('required') && ChangePasswordForm.get('ConfirmPassword').hasError('matchPassword')">Password
          not match.</span>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group text-right">
        <button [ladda]="isLoading" class="btn btn-success btn-md" type="submit"><i class="fa fa-key"></i>&nbsp;Change</button>
      </div>
    </div>
  </form>
</div>
