<div class="row">
  <form class="form-box" novalidate [formGroup]="userProfileForm" (ngSubmit)="SaveUserProfile(userProfileForm.value, userProfileForm, userProfileForm.valid)">

    <div class="col-md-4 text-center">
      <div class="form-group" [ngClass]="{'has-error': isProfileSubmitted && !(userProfileForm.controls.Photo.valid)}">
        <input type="file" id="file" (change)="onFileChange($event)" accept=".jpg , .png" #fileInput style="display: none;">
        <input type="hidden" name="fileHidden" formControlName="Photo" />
          <!-- <img class="img-circle" [src]="avtarSrc" width="150" height="150" /> -->
          <label class="avatar" for="file">

            <img class="img-circle" [src]="avtarSrc" width="135" height="135" />
            <svg style="position: absolute;top: 25px;left: 0;" version="1.1" id="camera" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 15" enable-background="new 0 0 25 15"
              xml:space="preserve">
              <path id="cameraFrame" fill="none" stroke="#28D094" stroke-miterlimit="10" d="M23.1,14.1H1.9c-0.6,0-1-0.4-1-1V1.9c0-0.6,0.4-1,1-1h21.2
                    c0.6,0,1,0.4,1,1v11.3C24.1,13.7,23.7,14.1,23.1,14.1z"></path>
              <path id="circle" fill="none" stroke="#28D094" stroke-width="1.4" stroke-miterlimit="12" d="M17.7,7.5c0-2.8-2.3-5.2-5.2-5.2S7.3,4.7,7.3,7.5s2.3,5.2,5.2,5.2
                    S17.7,10.3,17.7,7.5z"></path>
              <g id="plus">
                <path fill="none" id="plusLine" class="line" stroke="#28D094" stroke-linecap="round" stroke-miterlimit="10"
                  d="M20.9,2.3v4.4"></path>
                <path fill="none" class="line" stroke="#28D094" stroke-linecap="round" stroke-miterlimit="10" d="M18.7,4.6h4.4"></path>
              </g>
            </svg>
            <!-- <div id="openModal">
            <span>Drop here or</span>
        </div> -->
          </label>
        <!-- <span class="error-msg" *ngIf="isProfileSubmitted && !(userProfileForm.controls.Photo.valid)">Profile photo is required.</span> -->
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group" [ngClass]="{'has-error': isProfileSubmitted && !(userProfileForm.controls.FirstName.valid)}">
        <label for="fname">First Name:</label>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" appAlphabetOnly class="form-control" formControlName="FirstName" [(ngModel)]="userModel.FirstName"
            placeholder="Enter First Name" />
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group" [ngClass]="{'has-error': isProfileSubmitted && !(userProfileForm.controls.LastName.valid)}">
        <label for="lname">Last Name:</label>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" appAlphabetOnly class="form-control" formControlName="LastName" [(ngModel)]="userModel.LastName"
            name="LastName" placeholder="Enter Last Name" />
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="email">Email:</label>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-envelope"></i>
          </span>
          <input type="text" disabled class="form-control" [(ngModel)]="userModel.Email" [ngModelOptions]="{standalone: true}"
            placeholder="Enter Email">
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group" [ngClass]="{'has-error': isProfileSubmitted && !(userProfileForm.controls.Address.valid)}">
        <label for="adrress">Address:</label>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-map-marker"></i>
          </span>
          <textarea formControlName="Address" [(ngModel)]="userModel.Address" class="form-control" placeholder="Enter Address"
            rows="2" style="height:auto"></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" [ngClass]="{'has-error': isProfileSubmitted && !(userProfileForm.controls.City.valid)}">
        <label for="city">City:</label>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-globe"></i>
          </span>
          <input type="text" appAlphabetOnly formControlName="City" [(ngModel)]="userModel.City" class="form-control"
            placeholder="Enter City">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" [ngClass]="{'has-error': isProfileSubmitted && !(userProfileForm.controls.CountryId.valid)}">
        <label for="country">Country:</label>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-globe"></i>
          </span>
          <select class="form-control" [(ngModel)]="userModel.CountryId" formControlName="CountryId" (change)="OnSelect($event.target.value)">
            <option *ngFor="let data of options" value={{data.id}}>
              {{data.text}}
            </option>
          </select>
        </div>
        <!-- <span class="error-msg" *ngIf="isProfileSubmitted && !(userProfileForm.controls.CountryId.valid)">
          Country is required. </span> -->
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 text-right">
          <button [ladda]="isLoading" class="btn btn-success btn-md" type="submit"><i class="fa fa-save"></i>&nbsp;
            Update</button>
        </div>
      </div>
    </div>
  </form>
</div>
